[run]
source =
    scine_autocas
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *_version.py
    */tests/*
    *serenity*
    *chronusq*
    *__main__*

exclude_lines =
    if __name__ == '__main__':

