-r requirements.txt
alabaster==0.7.13
astroid==3.0.1
attrs==23.2.0
autoflake==2.2.1
autopep8==2.0.4
Babel==2.14.0
charset-normalizer==3.3.2
commonmark==0.9.1
coverage==7.3.2
data-science-types==0.2.23
dill==0.3.7
docutils==0.20.1
flake8==6.1.0
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
lazy-object-proxy==1.10.0
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.8.0
numpydoc==1.6.0
platformdirs==4.0.0
pluggy==1.3.0
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.17.2
pylint==3.0.2
pytest==7.4.3
pytz==2023.3.post1
recommonmark==0.7.1
requests==2.31.0
snowballstemmer==2.2.0
Sphinx==7.1.2
sphinx-autodoc-typehints==1.25.2
sphinx-copybutton==0.5.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
types-PyYAML==6.0.12.12
types-setuptools==69.0.0.20240106
urllib3==2.1.0
wrapt==1.14.1
zipp==3.17.0
